<%= link_to path, class: "#{active_classes} text-white group flex items-center px-2 py-2 text-sm font-medium rounded-md" do %>
  <%= content_tag(:i, "", class: "fa-duotone fa-fw text-gray-300 #{icon}") %>
  <span class="ml-3"><%= title %></span>
<% end %>
